<header>
    <div class = "navbar">
        <%= link_to "Pathfinder App", root_path, id: "logo" %>

        <nav class = "nav">
            <ul>
                <li><%= link_to "Home",         root_path %></li>
	            <li><%= link_to "Characters",   '#' %></li>
	            <li><%= link_to "Modules",      '#' %></li>
                <li><%= link_to "Help",         help_path %></li>
                <li><%= link_to "Sign in",      '#' %></li>
            </ul>

        </nav>
    </div>
</header>